body {
    background: #FAFAFB;
}

.list-header {
    color: #030229;
}

.list-task {
    list-style: none; /* デフォルトのリストマーカーを削除 */
    padding: 0;
}

.list-task li {
    background: white;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.list-task li:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.list-task li:active {
    transform: translateY(2px);
}

.btn-delete {
    background-color: #605BFF;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    border: none;  /* 青い枠線を消す */
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-delete:hover {
    background-color: #605BFF;
}

.btn-delete:active {
    transform: translateY(2px);
}
