{% extends 'base.html' %}
{% block title %}カテゴリ一覧{% endblock title %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'timer/css/list_task.css' %}">
{% endblock %}

{% block content %}
<h1>カテゴリ一覧</h1>
<ul class="list-task">
    {% for category in object_list %}
        <li>{{ category.category }}
        <a href="{% url 'delete-category' category.pk %}" class="btn-delete">削除する</a>
        </li>
    {% endfor %}
    <a href="{% url 'list-title' %}" class="btn btn-primary">タイトル一覧へ</a>
</ul>
{% endblock content %}