{% extends 'base.html' %}
{% block title %}タイトル一覧{% endblock title %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'timer/css/list_task.css' %}">
{% endblock %}

{% block content %}
<h1>タイトル一覧</h1>
<ul class="list-task">
    {% for title in object_list %}
        <li>
            カテゴリ：{{ title.category }} タイトル：{{ title.title }}
            <a href="{% url 'delete-title' title.pk %}" class="btn-delete">削除する</a>
        </li>
    {% endfor %}
    <a href="{% url 'list-category' %}" class="btn btn-primary">カテゴリ一覧へ</a>
</ul>
{% endblock content %}


